@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p> Herzlich Willkommen in Christa's Marmeladen Webshop!</p>
 <p>  
    <br/> Hier finden Sie beste, selbstgemachte Marmeladen in BIO-Qualität. 
    <br/> Es werden nur ausgewählte Zutaten verwendet. Dies zeigt sich im ausgezeichneten Geschmack der Marmeladen.
</p>
