@model Webshop.Common.DAL.Bestellung

@{
    ViewBag.Title = "BestellungSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bestellung abgeschlossen</h2>
<br />
Ihre Bestellung war erfolgreich. Sie erhalten in K&uuml;rze ein EMail mit der Bestellbestätigung. <br />
Ihre Bestellnummer lautet: @Html.DisplayFor(model => model.Bestellung_ID)
<br />
<br />
Bitte überweisen Sie € @Html.DisplayFor(model => model.Rechnungsbetrag) auf folgendes Konto:
<br /> Marmeladen GmbH
<br /> Kto.Nr.: 10001254
<br /> BLZ: 60000
<br /> BAWAG PSK
<p>
Sobald die Bezahlung bei uns eingegangen ist, wird die Ware verschickt. 
</p>
<br />
<br />
<p> @Html.ActionLink("Weitershoppen", "Index", "Produkt")</p>
