<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Webshop.Common.Properties.Settings.WebshopConnectionString"
            connectionString="Data Source=KERSTIN-PC\SQLEXPRESS;Initial Catalog=Webshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Webshop.Common.Properties.Settings.WebshopConnectionString1"
            connectionString="Data Source=NUSSI-PC\SQLEXPRESS;Initial Catalog=Webshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>