@model Webshop_Kolb_Nussdorfer.Models.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPasswordSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Passwortänderung erfolgreich</h2>
<p>
    Ihr Passwort wurde erfolgreich geändert. Sie erhalten in K&uuml;rze eine EMail mit ihrem neuen Passwort.
    Das neue Passwort lautet: "1default2". 
</p>
