@model Webshop_Kolb_Nussdorfer.Models.RegisterModel

@{
    ViewBag.Title = "RegisterSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Vielen Dank für Ihre Registrierung!</h2>
    <p>
        Sie werden in K&uuml;rze eine E-Mail an <%: Model.Email %> erhalten. <br />
        Bitte klicken Sie auf den dort angef&uuml;hrten Link um die Registrierung abzuschlie&szlig;en.

        <br />TO-DO Link hier anzeigen!!!






    </p>

