@{
    ViewBag.Title = "RegistrationConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Registrierung abgeschlossen</h2>

<p>
        Ihre Registrierung wurde hiermit bestätigt. Viel Spaß in unserem Webshop! <br />

    </p>

<p> @Html.ActionLink("Auf gehts ins Marmeladenparadies", "Index", "Produkt")</p>
